.App{
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  background-color: black;
  justify-content: center;
}

.nav-bar-gridItem{
  display: flex;
  justify-content: center;
  align-items: center;
}

#HomeButton{
  grid-column: 2 / 3;
  color: white;
}

#ShopButton{
  grid-column: 6 / 7;
  color: white;
}

#ShoppingCart-Container{
  color: white;
  grid-column: 4 / 5;
}