.Product-Container{
width: 250px;
display: grid;
grid-template-rows: auto 1fr auto auto;
height: 100%;
}

#product-title-container{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.Product-Img{
  height: 100%;
  width: 100%;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

#product-buttonBar-container{
  display: flex;
  justify-content: space-between;
}

.Product-input{
  grid-column:2 / -2 ;
  grid-row: 3 / 4;
  text-align: center; 
}

.decrement-button{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.increment-button{
  grid-column: -2 / -1;
  grid-row: 3 / 4;
  
}

#product-addToCart-container{
  display: flex;
  justify-content: center;
}